<!DOCTYPE html>
<html lang="en">
<head>
    <link href="style.css" rel="stylesheet" type="text/css">

    <!--THIS IS SOME BOOTSTRAP THAT I COULDNT DECIPHER ONLY USED FOR BUTTONS-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

</head>
<body>
<!--int userId;-->
<!--boolean inCart=false;-->
<!--boolean inStock=true;-->
<!--boolean canReview=false;-->
<!--boolean wrongPass=false;-->
<!--boolean userTaken=false;-->
<!--boolean createUser=false;-->
<nav>
    <h1 align="center">THE SHOP</h1>
    <br/>
<div align="center">
    <a href="/loginPage" class="btn btn-default" role="button">Login</a>
    <a href="/" class="btn btn-default" role="button">Shop</a>
    <a href="/seeCart" class="btn btn-default" role ="button">see my cart</a>
    <form action="/logout" method="post"><button class="btn btn-default" type="submit">Logout</button></form>
</div>
</nav>
<hr/>
<br/>
<br/>

<!--<div class="plus_folder_container" data-folderlabel="boatshoesmoccasins" data-columns class="gx-cont">-->
{{#products}}
    <div class="plus_product  plusGrid3N ">

        <div class="plus_image_container">
            <a class="plus_image_link product-image-wrap" href="/productpage/{{id}}">
                <img src="{{pictureURL}}"></a>
        </div>

        <span class="plus_VCH"><span class="plus_VCHW">

            <div class="plus_prod_details plus_VCHContent">
                <!--THIS IS THE WRAPPER FOR TEXT NOT TO GO OUTSIDE OF PICTURE PARAMS-->
                <div class="plus_detail_wrap">
                    <!--MAKES THE TEXT A LINK TO THE SHOE-->
                <a href="/productpage/{{id}}" >
                    <span class="desc_line1">{{productName}}</span>
                    <span class='desc_line2'><strong>${{price}}</strong></span>
                </a>
                </div>
            </div>
          </span></span>
    </div>
{{/products}}


</body>
</html>