<html>
<head>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
<nav>
    <h1 align="center">THE SHOP</h1>
    <br/>
    <div align="center">
        <a href="/" class="btn btn-default" role="button">Shop</a>
    </div>
</nav>

<!--int userId;-->
<!--boolean inCart=false;-->
<!--boolean inStock=true;-->
<!--boolean canReview=false;-->
<!--boolean wrongPass=false;-->
<!--boolean userTaken=false;-->
<!--boolean createUser=false;-->

<!--this is for the regular login html which just has the email and password login and two buttons at the bottom-->
<!--for create user which switches out the value and you can see the other window-->

    <div class="loginWindows" align="center">
        <p>Welcome to Nozama Shoes Shopping</p>
        <form action="/login" method="post">
            <p><input type="text" placeholder="Enter you email address" name="emailAddress"/></p>
            <p><input type="text" placeholder="Enter you password" name="password"></p>
            <button type="submit">Enter Site</button>
        </form>
        <!--<form action="/createBool" method="post">-->
            <!--<button type="submit">Create New User</button>-->
        <!--</form>-->
    </div>

    <!--this will only show if they click the create user button-->
    <!--ill have a button for switching this back so the user can just login like regular-->
    <div class="loginWindows" align="center">
        <p>Welcome to Nozama Shoes Shopping</p>
        <form action="/create-user" method="post">
            <p><input type="text" placeholder="Enter you full name" name="userName"/><input type="text" placeholder="Enter you password" name="password"></p>
            <p><input type="text" placeholder="Enter you street address" name="address"/>
                <select name="state"><option selected disabled>State</option>
                    <option value="Alabama">Alabama</option>
                    <option value="Alaska">Alaska</option>
                    <option value="Arizona">Arizona</option>
                    <option value="Arkansas">Arkansas</option>
                    <option value="California">California</option>
                    <option value="Colorado">Colorado</option>
                    <option value="Connecticut">Connecticut</option>
                    <option value="Delaware">Delaware</option>
                    <option value="Florida">Florida</option>
                    <option value="Georgia">Georgia</option>
                    <option value="Hawaii">Hawaii</option>
                    <option value="Idaho">Idaho</option>
                    <option value="Illinois">Illinois</option>
                    <option value="Indiana">Indiana</option>
                    <option value="Iowa">Iowa</option>
                    <option value="Kansas">Kansas</option>
                    <option value="Kentucky">Kentucky</option>
                    <option value="Louisiana">Louisiana</option>
                    <option value="Maine">Maine</option>
                    <option value="Maryland">Maryland</option>
                    <option value="Massachusetts">Massachusetts</option>
                    <option value="Michigan">Michigan</option>
                    <option value="Minnesota">Minnesota</option>
                    <option value="Mississippi">Mississippi</option>
                    <option value="Missouri">Missouri</option>
                    <option value="Montana">Montana</option>
                    <option value="Nebraska">Nebraska</option>
                    <option value="Nevada">Nevada</option>
                    <option value="New Hampshire">New Hampshire</option>
                    <option value="New Jersey">New Jersey</option>
                    <option value="New Mexico">New Mexico</option>
                    <option value="New York">New York</option>
                    <option value="North carolina">North carolina</option>
                    <option value="North Dakota">North Dakota</option>
                    <option value="Ohio">Ohio</option>
                    <option value="Oklahoma">Oklahoma</option>
                    <option value="Oregon">Oregon</option>
                    <option value="Pennsylvania">Pennsylvania</option>
                    <option value="Rhode Island">Rhode Island</option>
                    <option value="South Carolina">South Carolina</option>
                    <option value="South Dakota">South Dakota</option>
                    <option value="Tennessee">Tennessee</option>
                    <option value="Texas">Texas</option>
                    <option value="Utah">Utah</option>
                    <option value="Vermont">Vermont</option>
                    <option value="Virginia">Virginia</option>
                    <option value="Washington">Washington</option>
                    <option value="West Virginia">West Virginia</option>
                    <option value="Wisconsin">Wisconsin</option>
                    <option value="Wyoming">Wyoming</option>
                    <option value="District of Columbia">District of Columbia</option>
                </select>
                <input type="text" placeholder="Enter you zip code" name="zipCode" size="14"/></p>
            <p><input type="text" placeholder="Enter you email address" name="emailAddress" size=""></p>
            <button type="submit">Create New user</button>
            <!--<form action="/createBool" method="post">-->
                <!--<button type="submit">Login</button>-->
            <!--</form>-->
        </form>
    </div>



</body>
</html>