html {
     height: 100%
 }
/*SOMEWHERE IN THIS CODE THERE IS THE ARRAY PROPER SHOWING STUFF*/
.header__logo--wrapper {
    overflow: hidden
}
body{
    color: black;
}

#ftr {
    clear: both
}

.plus_product {
    float: left;
    overflow: hidden;
    position: relative
}

.plusGrid4L {
    width: 186px;
    margin-bottom: 8px;
    margin-right: 8px;
    min-height: 335px
}


/*THIS SECTION COVERED SPACING*/
/*.plusGrid4N {*/
    /*width: 228px;*/
    /*margin-bottom: 16px;*/
    /*margin-right: 16px;*/
    /*min-height: 385px*/
/*}*/
/*THIS IS THE ONE THAT CONTROLS THE SPACING*/
.plusGrid3N {
    width: 304px;
    margin-bottom: 24px;
    margin-right: 24px;
    min-height: 445px
}

/*THIS SELCTION BELLOW MESSES WITH TEXT*/

.plus_product.large {
    height: 472px;
    width: 472px
}

.plus_product.large .plus-prod-inner img {
    border-bottom: 0 none;
    height: 472px;
    margin: 0;
    width: 472px
}

.plus_image_container img {
    border: 0;
    border-bottom: 1px solid #cfcfcf;
    margin: 0
}

.arrayProdCell {
    border: 0 none;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    position: relative
}

.plus_product .hidden {
    display: none
}

.plus_product.full {
    height: 472px;
    width: 944px
}

.imgHover {
    cursor: pointer
}

.plus_image_container {
    position: relative;
    z-index: 1;
    margin-bottom: 8px
}

.plus-prod-inner .plus_prod_details, .plus_prod_details a {
    text-decoration: none
}

.plus_image_container {
    position: relative;
    z-index: 1
}

.plus_prod_details a {
    position: relative
}

.desc_line1 {
    font-size: 11px;
    font-family: Arial, sans-serif
}

.desc_line2 {
    font-family: Arial;
    font-size: 11px
}

.hover {
    text-align: center
}

.plus_prod_details span, #categoryPlus div.swatch-see-more {
    color: #000;
    padding: 5px;
    padding-top: 0;
    position: relative;
    text-decoration: none;
    z-index: 2;
    letter-spacing: 1px;
    clear: both;
    float: left;
    width: 95%;
    text-align: left
}

#categoryPlus div.swatch-see-more, #categoryPlus div.swatch-see-more a {
    color: #666;
    font-family: Arial;
    font-size: 11px
}

.desc_line4 {
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    display: none
}

span.desc_line5 {
    font-family: Arial;
    font-size: 11px;
    color: #666
}

.desc_line6 {
    font-family: Arial;
    font-size: 9px
}

.plus_prod_details span.desc_line3 {
    color: #f23010;
    font-family: Arial;
    font-size: 11px
}

.plus_folder_container {
    float: left;
    position: relative
}

#plusArrayContainer {
    height: 100%;
    margin-top: 20px;
    float: left;
    width: 100%
}